<div data-action="click->recommendations-loading#loading" class="p-2 d-flex">
  <div class="top_anime_pic rounded-3">
    <%= image_tag anime.picture_url, width: "50px" %>
  </div>
  <div class="top_anime_info d-flex flex-grow-1">
    <div class="p-2 flex-grow-1">
      <p style="font-weight: bold;"><%= anime.title %></p>
      <p class="top-anime-studio">by <%= anime.studio %></p>
    </div>
    <div class="top-anime-ranking d-flex align-items-end gap-1">
      <p><i class="fa-solid fa-ranking-star"></i></p>
      <p><%= index + 1 %></p>
    </div>
  </div>
</div>
