<div data-genre-toggle-target="genre" class="genre-button box-shadow-effect d-flex align-items-center">
  <label class="container">
    <input data-action="click->genre-toggle#toggle" type="checkbox" style="display: none;">
    <span class="checkbox-text" style="text-wrap: nowrap;"><%= name %></span>
    <span class="checkmark"></span>
  </label>
</div>
