<div data-controller="nav-sticky" class="panda-nav">
  <div class="back-part"></div>
  <div class="front-part d-flex gap-1">
    <div class="left-nav-section flex-grow-1"></div>
    <div class="middle-nav-section"><%= image_tag "PandaLogo.png", width: "45px" %></div>
    <div class="right-nav-section flex-grow-1"></div>
  </div>
</div>
