<div data-controller="panda-chat-toggle" data-panda-chat-toggle-height-value="500px">
  <div class="anime-panda-icon">
    <div class="circle" data-action="click->panda-chat-toggle#toggle">
    </div>
  </div>
  <div class="panda-chat-box">
    <div class="box" data-panda-chat-toggle-target="chat">
      <div>
        <p>What can I do for you?</p>
      </div>
      <div>
        <p>Text...</p>
      </div>
    </div>
  </div>
</div>
