<div style="height: 1px; position: sticky; top: 0; z-index: 10;">
  <div style="padding: 70px 10px 0 0;">
    <div class="d-flex justify-content-end">
      <div class="d-flex align-items-center" style="background-color: var(--panda-green); color: var(--panda-white); border-radius: 12px; position: relative; max-width: 65%;">
        <div style="position: absolute; top: -13px; left: 10px; border: 23px solid transparent; border-bottom-color: var(--panda-green); border-top: 0; border-right: 0;"></div>
        <p id="panda_message" style="margin: 0; padding: 8px 16px; text-align: right;"><%# message %></p>
      </div>
    </div>
  </div>
</div>
