<div data-typing-target="panda" id="the-panda" class="d-none" data-panda-chat-toggle-height-value="500px" style="position: sticky; bottom: 0; z-index: 99;">
  <div data-action="click->typing#disable" class="anime-panda-icon">
    <div class="circle" data-action="click->panda-chat-toggle#toggle">
    </div>
  </div>
  <div data-action="click->typing#disable" class="message-box">
    <div>
      <div class="bubble-arrow"></div>
      <p id="panda_message">Hello</p>
    </div>
  </div>
</div>
