<div class="reco-buttons">
  <button id="dislike-btn" data-anime-vote-target="dislike" data-action="click->anime-vote#vote">
    <i class="fa-solid fa-x"></i>
  </button>
  <button id="like-btn" data-anime-vote-target="like" data-action="click->anime-vote#vote">
    <i class="fa-solid fa-heart"></i>
  </button>
</div>
