// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

:root{
  --panda-black: #0F0F0F;
  --panda-sub: #c41c1c;
  --panda-green: #01b866;
  --panda-white: #FFFFFF;
  --panda-grey: #B7B7B7;
}

// background: #56ab2f;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



// background-color: #1A1A1A; black
// background-color: #88B04B; green
// background-color: #F5F5F5; white
// background-color: #FFB7C5; pink
// background-color: #7EC8E3; blue
// background-color: #F7D06B; yellow
