.reco-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #000;
  color: #ffffff;
  overflow: scroll;
  padding-top: 48px;

  img {
    width: 100%;
  }

  .reco-img {
    object-fit: fill;
    z-index: -5;
  }

  .reco-trailer {
    iframe {
      z-index: -10;
    }
  }

  .reco-header {
    padding: 8px;
    margin-top: -32px;

    text-align: center;
    h2 {
      margin: 8px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    .reco-tags {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 8px;
      align-items: center;
      padding: 16px;
    }

    .reco-genre-tag {
      pointer-events: none;
      background-color: transparent;
      border: 1.5px solid #b9b9b9;
      color: #dcdcdc;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 100px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      font-size: 0.9rem;
    }

    i {
      font-size: 20px;
    }

    span {
      font-size: 24px;
    }
  }

  .reco-info {
    padding: 16px;
    background: #000;
    P {
      color: var(--panda-grey);
    }

    i {
      font-size: 32px;
      // margin-bottom: 1.6rem;
    }

    .info-icons {
      font-size: 1rem;
      margin: 16px 0;

      i {
        font-size: 1.2rem;
      }
    }
  }

  .reco-synopsis {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-wrap: wrap;
    -webkit-line-clamp: 5;
    padding: 16px;

    h3 {
      color: var(--panda-white);
    }

    P {
      color: #babbb6;
    }
  }

  .reco-synopsis-expanded {
    padding: 16px;
  }

  h4 {
    color: #ffffff;
  }

  P {
    color: #babbb6;
  }
}

.reco-anime {
  &:nth-child(1) {
    z-index: 1;
    position: relative;
  }

  &:nth-child(2) {
    z-index: 0;
    position: absolute;
    display: none;
  }

  &:nth-child(3) {
    z-index: -1;
    position: absolute;
    display: none;
  }

  &:nth-child(4) {
    z-index: -2;
    position: absolute;
    display: none;
  }

  &:nth-child(5) {
    z-index: -3;
    position: absolute;
    display: none;
  }

  @media (min-width: 560px) {
    display: grid;

    grid-template-areas:
      "trailer trailer trailer synopsis synopsis synopsis"
      "trailer trailer trailer synopsis synopsis synopsis"
      "trailer trailer trailer title title title"
      "trailer trailer trailer title title title"
      "trailer trailer trailer info info info"
      "trailer trailer trailer info info info";

    .reco-header {
      text-align: center;
      grid-area: title;
    }

    .reco-trailer {
      grid-area: trailer;
      height: 50%;
    }

    .reco-synopsis {
      grid-area: synopsis;
    }

    .reco-info {
      grid-area: info;
    }
  }
}

.green-expand-link {
  text-align: center;
  p {
    color: var(--panda-green);
  }
}

.highlight {
  background-color: darkred;
  border-radius: 8px;
  color: white;
  padding: 2px 4px;
}
