.reco-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #000;
  color: #FFFFFF;
  overflow: scroll;

  img{
    width: 100%;
  }

  .reco-img{
    object-fit: fill;
  }

  .reco-header{
    text-align: center;
  }

  .reco-info {
    padding: 16px;
    background: #000;
    P {
      color: #babbb6;
    }
  }

  .reco-synopsis {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-wrap: wrap;
    -webkit-line-clamp: 5;
    padding: 16px;

    h4 {
      color: #FFFFFF;
    }

    P {
      color: #babbb6;
    }
  }
}

.fade-img {
  position: relative;
}

.fade-img:after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #000 100%);
  height: 40%;
}

.reco-anime {

  &:nth-child(1) {
    z-index: 1;
    position: relative;
  }

  &:nth-child(2) {
    z-index: 0;
    position: absolute;
    display: none;
  }

  &:nth-child(3) {
    z-index: -1;
    position: absolute;
    display: none;
  }


  &:nth-child(4) {
    z-index: -2;
    position: absolute;
    display: none;
  }

  &:nth-child(5) {
    z-index: -3;
    position: absolute;
    display: none;
  }
}

.reco-anime.yes {
  animation: like 0.5s ease-out;
}

.reco-anime.nope {
  animation: dislike 0.5s ease-out;
}

@keyframes like {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(30deg) translateX(30rem);
    opacity: 0;
  }
}

@keyframes dislike {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-30deg) translateX(-30rem);
    opacity: 0;
  }
}

.green-expand-link{
  text-align: center;
  p {
    color: var(--panda-green);
  }
}
