.reco-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #000;
  color: #FFFFFF;
  overflow: scroll;
  padding-top: 64px;

  img{
    width: 100%;
  }

  .reco-img{
    object-fit: fill;
  }

  .reco-header{
    text-align: center;
    h3 {
      margin: 0px;
    }

    .reco-tags{
      color: var(--panda-green);
    }
  }

  .reco-info {
    padding: 16px;
    background: #000;
    P {
      color: var(--panda-grey);
    }
  }

  .reco-synopsis {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-wrap: wrap;
    -webkit-line-clamp: 5;
    padding: 16px;

    h4 {
      color: #FFFFFF;
    }

    P {
      color: #babbb6;
    }
  }

  .reco-synopsis-expanded {
    padding: 16px;
  }

  h4 {
    color: #FFFFFF;
  }

  P {
    color: #babbb6;
  }
}

.reco-anime {

  &:nth-child(1) {
    z-index: 1;
    position: relative;
  }

  &:nth-child(2) {
    z-index: 0;
    position: absolute;
    display: none;
  }

  &:nth-child(3) {
    z-index: -1;
    position: absolute;
    display: none;
  }


  &:nth-child(4) {
    z-index: -2;
    position: absolute;
    display: none;
  }

  &:nth-child(5) {
    z-index: -3;
    position: absolute;
    display: none;
  }
}

.green-expand-link{
  text-align: center;
  p {
    color: var(--panda-green);
  }
}
