
.picture {
position: relative;
height: 100%;
background-color: black;
}

.text-overlay {
  position: absolute;
  top: 76%;
  left: 0;
  color: black;
  width: 100%;
}



.back-arrow {
  position: absolute;
  top: -431px;
  padding-left: 15px;

  i {
    text-decoration: none;
    color: white;
    font-size: xx-large;
  }
}

.rating-star {
  padding-left: 7px;
}

.show-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 380px;
}

.info-row {
 margin-top: 55px;
}

.info-border {
  padding: 5px;
  background-color: #01b866;
  opacity: 90%;
  border-radius: 5px;
  font-size: small;
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bolder;
}

.studio-info {
  padding-top: 10px;
}

.synopsis {
  padding: 0px 20px;
  position: relative;
  min-height: 200px;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: white;
  top: 20px;
}

.synopsis h2 {
  text-align: left;
}

.synopsis-content {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  position: relative;
}

.toggle-button {
  display: block;
  margin: 10px auto 0 auto;
  text-align: center;
  color: #01b866;
  border: none;
  background-color: transparent;
  font-size: large;
}


.synopsis-content.expanded {
  max-height: 1000px;
}

.synopsis-container {
  background-color: black;
  color: white;
  padding-top: 30px;
}

.sticky-button-container {
  position: sticky;
  bottom: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  color: #01b866;
}

.sticky-button {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  font-weight: bolder;
  color: white;
}

.image-container {
  position: relative;
  display: inline-block;
}

.show-anime-img {
  width: 100vw;
  height: 585px;
  display: block;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  pointer-events: none;
}


.info h2.fw-bold {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  i.fa-arrow-left {
    font-size: 2rem;
    padding: 5px;
    border-radius: 5px;
    border: black;
    padding-top: 30px;
    padding-left: 20px;
  }
}

.info {
  max-width: 550px;
  font-size: x-large;
  margin-top: 50px;
}

.info h6.fw-bold {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.info-container {
  padding: 20px;
  color: white;
  background-color: black;
  padding-top: 50px;

  h2 {
    padding-bottom: 7px;
  }
}

#video-notice {
  color: white;
  text-align: center;
}

.iframe-container {
  display: none;
  margin-top: 20px;
  padding-top: 30px;
}

.iframe-container.active {
  display: block;
}

.play-button-container {
  display: flex;
}

.play-trailer-button {
  color: white;
  font-size: medium;
  width: 28%;
  margin-left: 15px;
  display: flex;
  text-wrap: nowrap;

  h2 {
    font-size: medium;
    font-weight: bold;
  }
}

.play-button {
  color: white;
  padding-right: 10px;
}

#play {
  margin: 0;
}
