<div class="anime-container" data-controller="anime-vote">
  <% @animes.each_with_index do |anime, index| %>
    <div class="item">
      <div class="anime-card">
        <div class="anime-img">
          <%= image_tag anime.picture_url, alt: "A nice poster of the anime to show the main characters and themes of the show." %>
        </div>
        <div class="anime-card-body">
          <h3><%= anime.title %></h3>
          <p>Episodes: <%= anime.episode_count %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<footer>
  <a href="">
    <i class="fa-solid fa-circle-xmark" style="color: #ff6161;" data-anime-vote-target="dislike"></i>
  </a>
  <a href="">
    <i class="fa-solid fa-paw" style="color: #63E6BE;" data-anime-vote-target="like"></i>
  </a>
</footer>
