<% message = [@reco_chat] %>
<div data-controller="typing" data-typing-message-value="<%= message %>">
  <div class="reco-container" data-controller="anime-vote reco-refresh" data-reco-refresh-target="refresh" data-action="beforeunload->reco-refresh#render">
    <div data-anime-vote-target="animes">
      <%= render "components/reco_anime" %>
    </div>
    <%= render "components/reco_buttons" %>
  </div>
  <%= render "components/panda_button" %>
</div>
