<div class="anime-container" data-controller="anime-vote">
  <% @animes.each do |anime| %>
    <div class="item" data-preference="none" data-value="<%= anime.bookmarks.first.id %>" data-anime-vote-target="item" data-action="animationend->anime-vote#animationDone">
      <div class="anime-card">
        <div class="anime-img">
          <%= image_tag anime.picture_url, alt: "A nice poster of the anime to show the main characters and themes of the show." %>
        </div>
        <div class="anime-card-body">
          <h2><%= anime.title %></h2>
          <strong><span><%= anime.rating %></span></strong>
          <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
        </div>
      </div>
    </div>
  <% end %>
  <footer>
    <button class="vote-btn" data-anime-vote-target="dislike" data-action="click->anime-vote#dislike">
      <i class="fa-solid fa-face-frown"></i>
    </button>
    <button class="vote-btn">
      <i class="fa-solid fa-house"></i>
    </button>
    <button class="vote-btn" data-anime-vote-target="like" data-action="click->anime-vote#like">
      <i class="fa-solid fa-face-smile"></i>
    </button>
  </footer>
</div>
