<%# Update data likes every time the user hits like. send as params for the likes show page %>
<div class="reco-container" data-controller="anime-vote reco-refresh" data-anime-vote-target="likes" data-likes=1>
  <div data-anime-vote-target="animes" data-reco-refresh-target="animes">
    <%= render "components/reco_anime" %>
  </div>
  <%= render "components/reco_buttons" %>
</div>
