.fade-img {
  position: relative;
}

.fade-img:after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #000 100%);
  height: 40%;
}
