.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.details-info {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
}

.info-border {
  background-color: #c9c9c9;
  border-radius: 11px;
  padding: 6px;
  font-size: x-small;
}

.sort-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.sort-button-design {
  background-color: #c9c9c9;
  border-radius: 5px;
  padding: 4px;
  text-decoration: none;
}
