.anime-panda-icon{
  position: absolute;
  bottom: 88px;
  right: 10px;
  z-index: 10;

  .circle{
    // background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    // background-color: #FFFFFF;
    background-color: var(--panda-green);
    // background-image: url("https://static.vecteezy.com/system/resources/previews/018/915/714/original/cute-panda-head-cartoon-mascot-doodle-art-hand-drawn-outline-concept-kawaii-icon-illustration-vector.jpg");
    background-image: url("pandahead.png");
    background-position: center;
    // background-size: 95px;
    background-size: 50px;
    box-shadow: 1px 1px 10px 0px black;
  }
}

.panda-chat-box{
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 9;


  .box{
    // height: 500px;
    height: 0px;
    // width: 75%;
    width: 275px;
    background-color: var(--panda-green);
    // margin: 0 auto;
    margin: 0 20px 0 auto;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 0px 8px #0F0F0F;
    transition: height 0.6s;
  }
}

.message-box{
  background-color: var(--panda-green);
  color: var(--panda-white);
  max-width: 69%;
  right: 60px;
  position: absolute;
  bottom: 80px;
  border-radius: 12px;

  .bubble-arrow{
    position: absolute;
    bottom: -15px;
    right: 10px;
    border: 23px solid transparent;
    border-top-color: var(--panda-green);
    border-bottom: 0;
    border-right: 0;
  }

  p{
    margin: 0; padding: 8px 16px;
  }
}
