.pop-anime-card{
  overflow: hidden;
  // box-shadow: 1px 1px 8px 0px #00000047;
  position: relative;
  // background-color: var(--panda-white);
  background-color: var(--panda-white);
  width: 300px;
}

.pop-image{
  background-size: cover;
  // height: 200px;
  height: var(--anime-card-pic-height);
}

.pop-icons{
  position: absolute;
  // top: 187px;
  top: calc(var(--anime-card-pic-height) - 13px);

  div{
    padding: 3px 10px;
    box-shadow: 1px 1px 8px 0px #00000047;
  }

  p{
    margin: 0;
  }
}

.list-add{
  background: none;
  background-color: transparent;
  border: none;
  left: 25px;
  top: 25px;
  position: absolute;
}

.pop-info{
  h4{
    font-weight: bold;
  }

  .episodes{
    font-size: 0.9rem;
    margin-left: 20px;
    color: var(--panda-green);
  }

  p{
    text-wrap: wrap;
  }

  .anime-synopsis{
    color: #B7B7B7;
  }

  .fa-star{
    color: #F7D06B;
  }

  .fa-heart{
    color: #FFB7C5;
  }
}

.pop-add-button{
  border: none;
  border-radius: 8px;
  background-color: var(--panda-green);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-add-button:hover{
  background-color: var(--panda-black);
}
