.top_anime_pic{
  overflow: hidden;
}

.top-anime-ranking{
  color: var(--panda-sub);
}

.top_anime_info{
  p{
    margin: 0;
  }
}

.top-anime-studio{
  font-size: 0.9rem;
  font-style: italic;
  color: var(--panda-grey);
}
